header {
    background-color: var(--dark-primary-color);
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.52116402vw;
    width: -webkit-fill-available;
}

header .right {
    display: flex;
    align-items: center;
    gap: 2.24vw;
}
header .user {
    position: relative;
    display: flex;
    gap: 10px;
}
header .user a {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .user img {
    width: 20px;
}

header .user .user__login  {
    color: var(--text-and-icons);
    font-family: 'Inter', sans-serif;
}
header .user .user__name {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.925925926vw;
    color: var(--text-and-icons);
}
/*header .user:hover .user__menu {*/
/*    display: flex;*/
/*}*/

/*header .user .user__menu {*/
/*    position: absolute;*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    align-items: baseline;*/
/*    background: #764481;;*/
/*    width: -webkit-fill-available;*/
/*    bottom: -60px;*/
/*    border-radius: 8px;*/
/*    font-size: 0.925925926vw;*/
/*    gap: 10px;*/
/*    padding: 10px 0 10px 20px;*/
/*}*/
/*header .user .user__menu a {*/
/*    color: var(--text-and-icons);*/
/*    font-family: 'Inter', sans-serif;*/
/*}*/

